#title {
    padding: 80px 0 120px;
    font-family: 'Open Sans', sans-serif;
    background: whitesmoke;
}

#title h1 {
    font-size: 2.5em;
    color: #282828;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 60px;
    margin-bottom: 15px;
}

#intro {
    padding: 100px 0 140px;
    font-family: 'Open Sans', sans-serif;
}

#intro p {
    color: 666666;
    margin: 0 auto;
    font-size: 1.25em;
    letter-spacing: 0.03em;
    line-height: 1.4em;
    font-weight: 300;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 80%;
    border: .25em solid #2d2d2d;
}

#main_menu {
    text-transform: uppercase;
    margin: 0px;
}

#main_menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}

/* The nav bar itself */
#main_menu.navbar-default {
    font-size: 10px;
    background-color: rgba(0, 0, 0, 1);
    border-width: 0px;
    border-radius: 0px;
    opacity: 0.77;
}

#main_menu.navbar-default .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

#main_menu.navbar-default .navbar-nav > li {
    color: red;
}

/* font color and stuff like that */
#main_menu.navbar-default .navbar-nav>li>a {
    font-stretch: expanded;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    background-color: rgba(248, 248, 248, 0);
    line-height: 20px;
    border-radius: 0px 0px 5px 5px;
}

/* when you however over each option */
#main_menu.navbar-default .navbar-nav>li>a:hover,
#main_menu.navbar-default .navbar-nav>li>a:focus {
    color: black;
    background-color: whitesmoke;
    opacity: 0.97;
}

#main_menu.navbar-default .navbar-toggle {
    border-color: #5eb4ff;
}

#main_menu.navbar-default .navbar-toggle:hover,
#main_menu.navbar-default .navbar-toggle:focus {
    background-color: #5eb4ff;
}

#main_menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #5eb4ff;
}

#main_menu.navbar-default .navbar-toggle:hover .icon-bar,
#main_menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
